.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
    margin: 0 auto;
    max-width: 960px;
}

h2 {
    font-size: 21px;
    margin-bottom: 8px;
}

.border-box {
    box-sizing: border-box;
}

.header {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}

.content {
    /* background-color: cadetblue; */
    margin-bottom: 20px;
}

.course {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.course-item {
    box-sizing: border-box;
    padding: 16px;
    margin: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    width: 300px;

    text-align: center;
}

.course-item img {
    width: 270px;
}

.footer {
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}